<% layout('layouts/boilerplate')%>

    <h1>All Hikes</h1>
    <div>
        <a href="/hikes/new">Add Hike</a>
    </div>
    <% for (let hike of hikes){%>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <% if (hike.images.length) { %>
                        <img class="img-fluid" alt="" src="<%=hike.images[0].url%>">
                        <% }else {%>
                            <img class="img-fluid" alt=""
                                src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= hike.title %>
                        </h5>
                        <p class="card-text">
                            <%= hike.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= hike.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/hikes/<%=hike._id%>">View <%=hike.title%></a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>